  <div class="jumbotron">
    <h1 class="display-4">α-Blog</h1>
    <p class="lead">Simple Rails app for educational purposes</p>
    <hr class="my-4">
    <p>Rails + Bootstrap</p>
    <% if not logged_in? %>
      <%= link_to 'Sign up', signup_path, class: "btn btn-success btn-lg" %>    
      <%= link_to 'Login', login_path, class: "btn btn-success btn-lg" %> 
    <% end %>
  </div>
