@import 'bootstrap/dist/css/bootstrap';



/*=================================
Top navigation bar
/*===============================*/

.nav-link {
    font-size: 1em;
}

.navbar-brand {
    text-transform: uppercase;
}



/*=================================
Sticky footer
/*===============================*/

html {
    height: 100%;
}
  
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

}



#content {
  background-color: #e3f2fd;
  flex: 1;
  padding: 0px;
}

#footer {
  background-color: #f3e5f5;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#footer::before {
  content: '';
  position: absolute;
  background: #f3e5f5;
  z-index: 10;
  height: 58px;
  width: 33px;
  left: -33px;
  top: 0px;
}


/*=================================
pages # home
/*===============================*/

.jumbotron {

    margin-top: 100px;
    padding-top: 90px;
    background-image: asset-url('news.jpg');
    background-size: cover;
    background-position: center center;
    height: 500px;
    color:red;

    p, h1 {
        background:black;
        padding: 10px;
        width: fit-content;
    }
}

/*=================================
article # index
/*===============================*/


a .btn {
  color:white; 
}

.card {
  margin-bottom: 5px;
  overflow: hidden;
}

.row {
  padding-bottom: 25px;
}

.card-header {
  width: 110%;
  position: relative;
  left: -15px;
}

.card-footer {
  width: 110%;
  position: relative;
  left: -15px;
}

/*=================================
article # form
/*===============================*/

#new-edit-form {
  background: rgb(129, 127, 240); 
}
